div.container {
    display: inline-block;
}

footer{
    color: white !important;
}

pre{
    color: white !important;
    
}

#statischeHome{
    display: flex !important;

}

.statistiche{
    width: 20% !important;
    
}