div.container {
    display: inline-block;
}

footer{
    color: white !important;
    margin-top: calc(100vh - 1160px) !important;
}

pre{
    color: white !important;
    
}

#statischeHome{
    display: flex !important;
    margin-left: 20% !important;
   
}

.statistiche{
    width: 25% !important;
    text-align: center;
}
.statisticheMedia{
    
    
    margin-left: 30% !important;
    margin-right: 30% !important;
    
}